{
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "env": {
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/order": [2, {"groups": ["builtin", "external", "internal", "parent", "sibling", "index"]}],
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "test/**",
          "packages/**/test/**",
          "packages/**/*.test.js"
        ],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
  }
}